body
{
    padding-top: 15px;
    background-color: #ccc
}
.image
{
    margin-top: 25px;
}

#bb
{
 font-size: 35pt;
    color: #008ed9;   
}
.aa
{
 
    font-size: 35pt;
    color: #008ed9;
}
.cc
{
   color: #008ed9; 
}
